<% @comments.each do |comment| %>
  <% unless User.find_by_id(comment.user_id).nil? %>
    <div class="blog_div">
      <div class="small_thumb"> <%= image_tag User.find_by_id(comment.user_id).pic.url(:thumb) if User.find_by_id(comment.user_id).present? %></div>
      <div class="blog_right"> <%= link_to User.find_by_id(comment.user_id).nickname,User.find_by_id(comment.user_id),:class => "redlink" %> <br>
        <%= comment.body %></div>
    </div>
    <% end %>
<% end %>