<div class="middle">
  <div class="container_20">
    <div class="grid_10" style="margin:10px auto; float:none; display:block">
      <h1>Listing Cars</h1>
      <div class ="box">
        <h5><%= link_to "Add A New Car", new_carprofile_path %></h5>
        <table>
	      <tr>
		    <th>Car Make</th>
		    <th>Car Model</th>
		  </tr>

		 <% @carprofiles.each do |carprofile| %>
		  <tr>
			<td><%= link_to carprofile.car_make.name, carprofile_path(carprofile) %></td>
			<td><%= carprofile.car_model.name  rescue nil %></td>
		  </tr>
		 <% end %>

		</table>
	  </div>
    </div>
  </div>
</div>
