 <%= stylesheet_link_tag  "table_style" %>

<div class="middle">
	<div class="grid_20 title">
		<h4 style="margin-top:10px;">Blocked users</h4>
		</div>

 <% if @blocked_users.empty? %>
<h2>You didnt block any users yet !!!</h2>
<% else %>
<div class="grid_20" style="margin:10px;">	
<table width="100%">
<tr>
<th>Name</th>
<th>Email</th>
<th>Location</th>
</tr>
<% @blocked_users.each do |user| %> 
<% blocked_user = User.find(user.blockable_id) %>
</tr>
<td><%= link_to blocked_user.first_name, user_path(blocked_user) %></td>
<td><%= blocked_user.email %></td>
<td><%= blocked_user.location %></td>
</tr>
<% end %>
</table>
</div>
<% end %>
</div>

