<table class="admintable">
 <tr class="admintablehd">
    <td width="25%">Name</td>
   <td>Block</td>
   <td>Delete User</td>
</tr>


<% @users.each do |user|%>
  <tr>
    <td><%= user.email %></td>
     <td><%= link_to format_boolean(user.status?), {:controller => 'users', :action => 'toggled_status', :id => user.id} %></td>
    <td style="text-align: center !important;"><%= link_to 'Destroy',user_path(user) ,:method => :delete , :data=>{ :confirm=> 'Are you sure?' } %>
    </td>

  </tr>
<% end %>
</table>

<br />
