<div class="container_20" style="background:#333; margin-bottom:10px">
            <div class="container_20">
                <div class="grid_20 aboutme">
                       <!--  <h4 class="title"></h4> -->
                       <% if @carprofiles.empty? %>

                                <div class="mycar_caption">
                                    <p>No Such Car Model with body index Found for this Model.</p>
                                </div>
                               <% else %>
                            <% @carprofiles.each do |car|%>
                                <div class="mycardiv">
                                    <div>
                                        <%= link_to  image_tag(car.carprofile_photos.first.photo.url(:thumb), :width=>"186", :height=>"125"),carprofile_path(car) rescue nil%>
                                    </div>
                                    <div class="mycar_caption">
                                      <a href="<%= carprofile_path(car)%>" class="bluelink bold"><%= car.car_model.name%></br>
                                        <%= car.car_model.body_indices.map(&:bodyindex).join(",")%>

                                       </a>

                                      
                                    </div>
                                </div>
                          
                        <% end %>
                     <% end %>
                            
                </div>
            </div>
    </div>
   