		    <script type="text/javascript">
        $(document).ready(function() {

            
            $('#carouselhAuto').jsCarousel({ onthumbnailclick: function(src) { alert(src); }, autoscroll: true, masked: true, itemstodisplay:5, orientation: 'h' });

        });       
        
    </script>
        <div id="carouselhAuto">
                            <div>
                                <img alt="" src="/assets/car1.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="/assets/car2.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="/assets/car3.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="/assets/car4.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="/assets/car5.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
								
								<div>
                                <img alt="" src="/assets/car1.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="/assets/car2.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="/assets/car3.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="/assets/car4.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="/assets/car5.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>


                          <div>
                       <% @spotlighted_cars.each do |car|%>
                        <% car.carprofile_photos.each do |photo_url|%>
    
                      <%= image_tag photo_url.photo.url(:medium)%><br />
               <span class="thumbnail-text"><%= car.car_make.name %></span>
                <% end %>
                   <% end %>      
                       </div>
                                
								
								
                            
                        </div>