<script type="text/javascript">
$(document).ready(function() {
 $('#carouselhAuto').jsCarousel({ onthumbnailclick: function(src) { alert(src); }, autoscroll: true, masked: true, itemstodisplay:5, orientation: 'h' });
});       
</script>
<div id="carouselhAuto">
   <% @spotlighted_cars.each do |car|%>
    <% car.carprofile_photos.each do |photo_url|%>
    <div>
      <%= image_tag photo_url.photo.url(:medium)%><br/>
      <span class="thumbnail-text"><%= car.car_make.name %></span>
      </div>
    <% end %>
   <% end %>              
</div>