
<div class="footer">

  <div class="container_20">

    <div class="grid_5">
     DriveBlogs.net ©</div>
    
    <div class="grid_15">
      <div style="float:right">
      <ul class="bottom_menu">
      <li><a href="#">About</a> </li>  
      <li><a href="#">Privacy</a></li>   
      <li><a href="#">Invite</a> </li>  
      <li><a href="#">Terms</a> </li>  
      <li><a href="#">Contact Us</a> </li>  
      <li><a href="#">FAQ</a>  </li> 
      <li><a href="#">Enable DnD Mode</a></li>
      </ul>
      </div>
    
      </div>

  </div>


</div>