<div class="topcar_wrap">
<div class="container_20">
<div class="grid_20">
 <div class="top_car">Car Catalog</div>
 
 <ul class="topcar">
  <% @car_makes.each do |car_make|%>      
 <li><%= link_to car_make.name, search_shared_index_path(:id => car_make.id)%></li>
  <%end%>
 
 </ul>
 
 <div align = "right"><a href="<%= all_car_shared_index_path%>"  class="bluelink bold">All Cars</a></div>
 </div>
 
 </div>


</div>

