<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<!-- <a href="/"><strong>Home</strong></a>
    <a href="/pages/1"><strong>About</strong></a>
    <a href="/contact"><strong>Contact Us</strong></a>
 -->
