    

    <script type="text/javascript">
        $(document).ready(function() {

            
            $('#carouselhAuto').jsCarousel({ onthumbnailclick: function(src) { alert(src); }, autoscroll: true, masked: true, itemstodisplay:5, orientation: 'h' });

        });       
        
    </script>
    

<div class="nav">
<ul>
<li><a href="#">Home</a></li>
<li class="selected"><a href="#">Profile</a></li>
<li><a href="#">My Cars</a></li>
<li><a href="#">Photo Gallery</a></li>
<li><a href="#">Message</a></li>
<li><a href="#">My Log Books</a></li>
<li><a href="#">My Blogs</a></li>
</ul>
</div>


<div class="container_20">

		
		<div class="middle">
		
		<div class="container_20" style="background:#333; margin-bottom:10px">
		
		
		<div id="carouselhAuto">
                            <div>
                                <img alt="" src="assets/car1.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="assets/car2.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="assets/car3.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="assets/car4.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="assets/car5.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
								
								<div>
                                <img alt="" src="assets/car1.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="assets/car2.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="assets/car3.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="assets/car4.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
                            <div>
                                <img alt="" src="assets/car5.jpg" /><br />
                                <span class="thumbnail-text">Car Name here</span></div>
								
								
                            
                        </div>
		
		
		
		
		
		  </div>
		
		
				<div class="container_20 profile_bg">
				
				
				<div class="grid_4">
		
	<div class="profile_image"><img alt="" src="assets/profile.jpg"></div>
	</div>
	
					<div class="grid_16">
		
	<h1>User Name</h1>
	<ul class="tab_menu">
	<li><a href="#">Credit Points</a></li> 
	<li><a href="#">Subscribers</a></li> 
	<li><a href="#">Message</a></li> 
	<li><a href="#">Add to Friend +</a></li>
	<li><a href="#"><img src="assets/star2.png" alt=""></a></li>
	</ul>
	</div>

		
		</div>
		
		
		
		
		
		
		
		<div class="container_20">
				
				
				<div class="grid_9 aboutme">
		
	<h4>About Me</h4>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida consectetur enim. Nam euismod eu ipsum nec sagittis. Morbi tristique neque sed euismod sagittis. Suspendisse gravida turpis tellus, non auctor dolor porttitor imperdiet. Morbi suscipit leo ac mauris tempus, nec eleifend odio porttitor. Suspendisse tempor elementum tincidunt. 

	<p>Proin consectetur non nulla vitae vestibulum. Aliquam eleifend neque tincidunt porttitor rhoncus. Nunc pretium, ligula et commodo euismod, dui velit aliquam nunc, eu lobortis erat risus a dui. Duis vitae elit at felis ornare tempor. Curabitur quis sollicitudin massa. Curabitur malesuada lacus scelerisque leo viverra, at semper felis lobortis. Donec tempor justo at odio rhoncus, ut iaculis augue vehicula. Phasellus a lorem orci. </p>
	<h4>My Blogs</h4>
	
	
	<div class="blog_div">

		<a class="redlink" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit</a>        <br>
       Nulla gravida consectetur enim. consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida 
        <br>
        <a class="bluelink" href="#">Read More
		</a>
		</div>
		
		
		<div class="blog_div">

		<a class="redlink" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit</a>        <br>
       Nulla gravida consectetur enim. consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida 
        <br>
        <a class="bluelink" href="#">Read More
		</a>
		</div>
		
		
		<div class="blog_div">

		<a class="redlink" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit</a>        <br>
       Nulla gravida consectetur enim. consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida 
        <br>
        <a class="bluelink" href="#">Read More
		</a>
		</div>
		
		
		<div class="blog_div">

		<a class="redlink" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit</a>        <br>
       Nulla gravida consectetur enim. consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida consectetur enim. lit. Nulla gravida 
        <br>
        <a class="bluelink" href="#">Read More
		</a>
		</div>
		
	
	</div>
	
					<div class="grid_11 aboutme">
		
<h4>Comments</h4>

<div class="small_thumb"><img src="assets/small_thumb.png" alt="" style="float:left"></div>
<textarea rows="4" class="comment_tf"></textarea>

<div style="float:right; margin:10px 0; text-align:right; width:100%"><input type="button" style="margin:0" class="submit_btn" value="Search"></div>


<div class="blog_div">
		
		<div class="small_thumb"><img src="assets/small_thumb.png" alt="" style="float:left"></div>
		
		<div class="blog_right">
		<a class="redlink" href="#">John Smith </a><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida 
		
		</div>
		
		</div>
		
		
		<div class="blog_div">
		
		<div class="small_thumb"><img src="assets/small_thumb.png" alt="" style="float:left"></div>
		
		<div class="blog_right">
		<a class="redlink" href="#">John Smith </a><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida 
		
		</div>
		
		</div>
		
		<div class="blog_div">
		
		<div class="small_thumb"><img src="assets/small_thumb.png" alt="" style="float:left"></div>
		
		<div class="blog_right">
		<a class="redlink" href="#">John Smith </a><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida 
		
		</div>
		
		</div>
		
		<div class="blog_div">
		
		<div class="small_thumb"><img src="assets/small_thumb.png" alt="" style="float:left"></div>
		
		<div class="blog_right">
		<a class="redlink" href="#">John Smith </a><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida dolor sit consectetur enim. lit. Nulla gravida 
		
		</div>
		
		</div>
		



	</div>

		
		</div>
		


  
		
		</div>
		

</div>

<div class="topcar_wrap">
<div class="container_20">
<div class="grid_20">
 <div class="top_car">Top Cars</div>
 <ul class="topcar">
 <li><a href="#">Acura</a></li>
  <li><a href="#">Alfa Romeo</a></li>
   <li><a href="#">Aston Martin	Audi</a></li>
    <li><a href="#">Buick</a></li>
	 <li><a href="#">BYD</a></li>
	  <li><a href="#">BMW</a></li>
 </ul>
 
 
 <ul class="topcar">
 <li><a href="#">Acura</a></li>
  <li><a href="#">Alfa Romeo</a></li>
   <li><a href="#">Aston Martin	Audi</a></li>
    <li><a href="#">Buick</a></li>
	 <li><a href="#">BYD</a></li>
	  <li><a href="#">BMW</a></li>
 </ul>
 
 
  <ul class="topcar">
 <li><a href="#">Acura</a></li>
  <li><a href="#">Alfa Romeo</a></li>
   <li><a href="#">Aston Martin	Audi</a></li>
    <li><a href="#">Buick</a></li>
	 <li><a href="#">BYD</a></li>
	  <li><a href="#">BMW</a></li>
 </ul>
 
  <ul class="topcar">
 <li><a href="#">Acura</a></li>
  <li><a href="#">Alfa Romeo</a></li>
   <li><a href="#">Aston Martin	Audi</a></li>
    <li><a href="#">Buick</a></li>
	 <li><a href="#">BYD</a></li>
	  <li><a href="#">BMW</a></li>
 </ul>
 
  <ul class="topcar">
 <li><a href="#">Acura</a></li>
  <li><a href="#">Alfa Romeo</a></li>
   <li><a href="#">Aston Martin	Audi</a></li>
    <li><a href="#">Buick</a></li>
	 <li><a href="#">BYD</a></li>
	  <li><a href="#">BMW</a></li>
 </ul>
 
  <ul class="topcar">
 <li><a href="#">Acura</a></li>
  <li><a href="#">Alfa Romeo</a></li>
   <li><a href="#">Aston Martin	Audi</a></li>
    <li><a href="#">Buick</a></li>
	 <li><a href="#">BYD</a></li>
	  <li><a href="#">BMW</a></li>
 </ul>
 
 
  <ul class="topcar">
 <li><a href="#">Acura</a></li>
  <li><a href="#">Alfa Romeo</a></li>
   <li><a href="#">Aston Martin	Audi</a></li>
    <li><a href="#">Buick</a></li>
	 <li><a href="#">BYD</a></li>
	  <li><a href="#">BMW</a></li>
 </ul>
 
  <ul class="topcar">
 <li><a href="#">Acura</a></li>
  <li><a href="#">Alfa Romeo</a></li>
   <li><a href="#">Aston Martin	Audi</a></li>
    <li><a href="#">Buick</a></li>
	 <li><a href="#">BYD</a></li>
	  <li><a href="#">BMW</a></li>
 </ul>
 
 
 
 
 </div>
 
 </div>


</div>

