<div style="min-height:400px" class="middle"></br>
<%= form_tag search_path, :method => :get do %>
  	
      <div style="text-align: center; margin-top: 100px;">
      	<h3 style="margin-bottom: 34px;">Search People</h3>

        <%= text_field_tag :user_cont,nil,:class => "search_people" %>
        <%= collection_select :country,:location_cont,Country.all(:order => :id) ,:name ,:name ,{:prompt => "Select a Country"} ,{:class => "search_country"} %>
        <%= submit_tag "Search",:class=>"submit_btn" %></div>
  <% end %>
  </br>
</div>
   

