<div class="middle">
  <div class="container_20">
    <div class="grid_10" style="margin:10px auto; float:none; display:block">
<table class="admintable">
 <tr class="admintablehd">
    <td width="25%">Firstname</td>
   <td>Lastname</td>
    <td>Email</td>
   <td>Location</td>
</tr>

<% @users.each do |user|%>
  <tr>
    <td><%= link_to user.first_name,:controller=>"users",:action=>"show",:id=>user.id %></td>
     <td><%= user.last_name %></td>
      <td><%= user.email %></td>
    <td><%= user.location %></td>
    

  </tr>
<% end %>
</table>

</div>
</div>
</div>






