<h1>Logbooks</h1>


<table>
<%= link_to "New logbook", new_logbook_path %><br/><br/>

<ol>
  <% @logbooks.each do |logbook| %>
  <li><%= link_to logbook.logbook_category.name, logbook_path(logbook) rescue nil %></li>
  <% end %>
</ol>



</table>