<%= form_for [:admin, @car_make]  do |f| %> 
<%= render 'form' ,:f => f %>
  <div class="actions">
  	<%if params[:type] == "make"%>
  	  <%= f.submit "Update Car Make", name: "type",value: "Update Make"%>
  	<%else%>
     <%= f.submit "Update Car Make" %>
    <%end%>
  </div>
<% end %>