<table>
<tr>
    <th><b>Name:</b></th>
    <th></th>
</tr>

<% @car_makes.each do |car_make|%>
  <tr>
    <td><%= car_make.name %></td>
    <td><%= link_to 'Edit', edit_admin_car_make_path(car_make) %></td>
    <td><%= link_to 'Destroy',admin_car_make_path(car_make) ,:method => :delete , data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car Make', new_admin_car_make_path %>
