<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @abuse_category.name %>
</p>


<%= link_to 'Edit', edit_abuse_category_path(@abuse_category) %> |
<%= link_to 'Back', abuse_categories_path %>
