<div class="container_20">

		
		<div class="middle">
		
		<div class="container_20" style="background:#333; margin-bottom:10px">
		
				    <%= render 'shared/carousel' %>	
         </div>
		
		
				<div class="container_20">
				
				
				<div class="grid_20 title">
		
	<div style="width:40%; float:left"><h4>Buy Credit</h4></div>
	<div style="width:40%; float:right; text-align:right; margin-top:5px"><a href="<%= root_path %>" class="compose" title="Go to home page">Back</a></div>
	            </div>
		
		
		
		<div class="grid_20">
		
		<img src="/assets/step3.png" alt="" style="margin:10px 0">
		
    <div class="message"> 


    	<h1>Thank You For Buying Points</h1>

        <b>Your Current Credit  => <%= current_user.credit %></b><br/><br/>

       <h6>Buy Points Again <%= link_to "Click Here", select_package_credits_path%></h6>
		

	</div>
	
</div>
				
		
				
		
		</div>
		


  
		
		</div>
		

</div>




