<h2>Manage Site SEO</h2>

<table class="admintable">
 <tr class="admintablehd">
    <td width="25%">Meta Title</td>
     
   <td colspan=1 style="text-align: center !important;">Actions</td>
</tr>


  <% @seos.each do |seo| %>
    <tr>
      <td><%= seo.meta_title %></td>
      <td><%= link_to 'Edit', edit_admin_seo_path(seo) %></td>
      
    </tr>
  <% end %>
  </table>

