/* CSS Document */

.header{ width:auto; height:auto; padding:10px 0; margin:0 auto; background:url(../assets/header_bg.jpg); overflow:hidden; border-bottom:1px solid #000}

.footer{ width:auto; height:auto; padding:10px 0; margin:0 auto; background:#333333; overflow:hidden; border-bottom:1px solid #000; color:#acacac}

.topcar_wrap{ width:auto; height:auto; padding:10px 0; margin:10px 0 0 0 ; overflow:hidden; border-bottom:1px solid #000; color:#acacac; box-shadow: 0px 0 5px #333; background: #e6e6e6; /* Old browsers */
background: -moz-linear-gradient(top, #e6e6e6 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e6e6e6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e6e6e6 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e6e6e6 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #e6e6e6 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ border-top:1px solid #fff}

.search_tf{ background:#FFFFFF; border:1px solid #000; border-radius:3px; margin:0 0 0 10px; padding:6px 5px; width:196px}

.signup_tf{ background:#FFFFFF; border:1px solid #000; border-radius:3px; margin:0; padding:5px 5px; width:200px}

.pe_tf{ background:#FFFFFF; border:1px solid #c4c4c4; border-radius:3px; margin:0; padding:5px 5px; width:200px}




.submit_btn {
    background: #cb1b2b; /* Old browsers */
	background: -moz-linear-gradient(top, #cb1b2b 0%, #a20111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb1b2b), color-stop(100%,#a20111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cb1b2b 0%,#a20111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cb1b2b 0%,#a20111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cb1b2b 0%,#a20111 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cb1b2b 0%,#a20111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb1b2b', endColorstr='#a20111',GradientType=0 ); /* IE6-9 */
    border: 1px solid #000;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF !important;
    cursor: pointer;
    font-weight: bold;
    line-height: 30px;
    padding: 6px 10px;
    text-decoration: none;
	margin:0 0 0 10px; line-height:normal
}
.submit_btn:hover {
 background: #e82020; /* Old browsers */
background: -moz-linear-gradient(top, #e82020 0%, #ba0101 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e82020), color-stop(100%,#ba0101)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e82020 0%,#ba0101 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e82020 0%,#ba0101 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e82020 0%,#ba0101 100%); /* IE10+ */
background: linear-gradient(to bottom, #e82020 0%,#ba0101 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82020', endColorstr='#ba0101',GradientType=0 ); /* IE6-9 */
}


.search_div{ width:auto; float:right; margin:12px 0 0 0}

.car_bg{width:100%; height:auto; overflow:hidden}


.signup_box{ width:auto; margin:0 0 0 0; background:url(/assets/70alpha.png); border:1px solid #000; color:#fff}
.signup_box label{ float:left; width:100%; margin-bottom:2px; color:#FFFFFF}

.signup_box input name{ border:1px solid #000; background:#0033FF}

.signup_heading{ padding:5px 0; width:auto; font-size:14px; font-weight:bold; color:#FFFFFF; border-bottom:1px solid #000; margin:10px 0 0 0}

.cod{width:auto; height:271px; margin:0 0 0 0; background: url(/assets/shadow.png) no-repeat right 15px ;}

.box{ width:500px; height:240px; margin:0 0 0 0; background:#fff; color:#333; border:1px solid #000; line-height:normal}
.box2{ width:auto; height:231px; margin:0 0 0 0; color:#333; line-height:normal; padding:10px 0; line-height:18px}

.red_heading_cod{ padding:5px 10px; width:auto; font-size:14px; font-weight:bold; color:#FFFFFF; background:#cc1b2c; border:1px solid #000; border-bottom:none; margin:10px 0 0 0; width:480px}

.red_heading{ padding:5px 10px; width:auto; font-size:14px; font-weight:bold; color:#FFFFFF; background:#cc1b2c; border:1px solid #000; margin:10px 0 0 0}

.car_caption{ background: url(/assets/70alpha.png); color:#FFFFFF; padding:10px 10px; position: relative; top:-38px}


.topcar{
list-style-type: none;
margin: 0;
padding: 0;
width: auto; float:left; margin-right:15px
}

.topcar li a{
color: #333333;
display: block;
width: 100%;
padding: 2px 4px;
text-decoration:none;
}


.topcar li a:visited{
/*color: white;*/
}

.topcar li a:hover, .topcar li a:active{
color: #CC1B2C;
}



.bottom_menu{
list-style-type: none;
margin: 0;
padding: 0;
width: auto; float:left; margin-right:15px; display:inline
}

.bottom_menu li{
display: inline;

}

.bottom_menu li a{
color: #fff;
display: inline;
width: 100%;
padding: 0 0 0 10px;
text-decoration:none;
}


.bottom_menu li a:visited{
color: white;
}

.bottom_menu li a:hover, .bottom_menu li a:active{
color: #CC1B2C;
}

.red{ color:#A20111 }


#flash_notice {
/*background-color: #D9EDF7;*/
border-color: #BCE8F1;
color: white;
padding: 15px;
text-align: center;
}

/*#flash_alert {
background-color: #F2DEDE;
border-color: #EED3D7;
color: white;
padding: 10px;
text-align: center;
}*/

.simple_captcha_image
{
 border: 0 !important;
}