<table>
<tr>
    <th><b>Name:</b></th>
    <th></th>
</tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.name %></td>
    <td><%= link_to 'Edit', edit_admin_blog_path(blog) %></td>
    <td><%= link_to 'Destroy',admin_blog_path(blog) ,:method => :delete , data: { confirm: 'Are you sure?' } %>
    </td><br/>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_admin_blog_path %>