<%= link_to 'New Blog', new_admin_blog_path %>
<br /><br />
<table class="admintable">
 <tr class="admintablehd">
    <td width="25%">Name</td>
   <td colspan=2 style="text-align: center !important;">Actions</td>
</tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.name rescue nil%></td>
    <td><%= link_to 'Edit', edit_admin_blog_path(blog) %></td>
    <td><%= link_to 'Destroy',admin_blog_path(blog) ,:method => :delete , data: { confirm: 'Are you sure?' } %>
    </td><br/>
  </tr>
<% end %>
</table>

